{% extends "philemon_mutabazi/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1>Profile</h1>
<form method="post">
    {% csrf_token %}
    <h2>Account</h2>
    {% for field in user_form %}
        <div class="form-row">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
    {% endfor %}
    <h2>Profile</h2>
    {% for field in profile_form %}
        <div class="form-row">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
    {% endfor %}
    <button class="btn" type="submit">Save changes</button>
</form>
{% endblock %}
